/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/megantalbot/turing/4module/final-assessment/final-url-lockbox/app/assets/stylesheets/application.css.scss */
.marked-read {
  background-color: grey;
}

/* line 22, /Users/megantalbot/turing/4module/final-assessment/final-url-lockbox/app/assets/stylesheets/application.css.scss */
.link {
  width: 40%;
}

/* line 26, /Users/megantalbot/turing/4module/final-assessment/final-url-lockbox/app/assets/stylesheets/application.css.scss */
.error {
  color: red;
}

/* line 30, /Users/megantalbot/turing/4module/final-assessment/final-url-lockbox/app/assets/stylesheets/application.css.scss */
.hot-link {
  color: orange;
}

/* line 34, /Users/megantalbot/turing/4module/final-assessment/final-url-lockbox/app/assets/stylesheets/application.css.scss */
.top-link {
  color: red;
}
